/* This is for tablets (width < 1024px) */
@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 40px 40px 90px 40px;
      }
      .bannercontent {
        padding: 55px 0px 0px 0px !important;
        display: flex;
      }
      .leftbannercontent{
        width: 60%;
      }
      .rightbannercontent{
        padding-left: 80px !important;
      }
}

